.main-top{
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.logo{

}

.dashbord{
    font-family: Roboto;
    color: gray;
    text-align: right;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}

.login,
.join,
.cart,
.order{
    padding-left: 10px;
    padding-right: 10px;
}